@page "{code:int}"
@model ErrorModel
@{
    ViewBag.Title = "Error";
}


<div class="container text-center">
    <h4 class="text-danger">Error</h4>
    <h5 class="text-danger">An error occurred while processing your request.</h5>
    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
    <img class="img-fluid" src="@($"https://http.cat/{Model.Code}.jpg")" alt="error image" />
    <p>This shouldn't happen. Please click <a href="/">here</a> to return to a familiar place and pretend this never happened.</p>
</div>


