@page "{code:int}"
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h4 class="text-danger">Error.</h4>
<h5 class="text-danger">An error occurred while processing your request.</h5>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<img src="@($"https://http.cat/{Model.Code}.jpg")" alt="error image" />