@page
@{
    ViewData["Title"] = "Luca Dalla Valle - Developer";
}

@{
    int GetAge(DateTime birthdate)
    {
        // Save today's date.
        var today = DateTime.Today;
        // Calculate the age.
        var age = today.Year - birthdate.Year;
        // Go back to the year the person was born in case of a leap year
        if (birthdate > today.AddYears(-age))
        {
            age--;
        }
        return age;
    }
}


<div class="jumbotron jumbotron-fluid text-center" id="ldv-jumbotron">
    <div class="container">
        <h1 class="display-4">Luca Dalla Valle</h1>
        <hr class="ldv-horizontal-divider">
        <p class="lead">Welcome to my site</p>
    </div>
    <div class="container-fluid text-center" id="ldv-arrow-container">
        <div class="ldv-arrow ldv-bounce">
            <a class="fas fa-arrow-down fa-2x" href="javascript:void(0)"></a>
        </div>
    </div>
</div>
<div id="ldv-sections">
    <div class="ldv-section" id="ldv-section-profile">
        <header>
            <h2 class="ldv-other-text-color text-center">Profile</h2>
            <p class="lead text-center">C# and web developer</p>
            <hr class="ldv-horizontal-divider">
        </header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="ldv-other-text-color">About</h5>
                    I'm a full stack developer. I particularly love C# and the .NET ecosystem.
                </div>
                <div class="col text-center">
                    <img src="~/img/ldv.png" height="150px">
                </div>
                <div class="col">
                    <h5 class="ldv-other-text-color">Details</h5>
                    <p>
                        <strong>Name: </strong>Luca Dalla Valle<br>
                        <strong>Location: </strong>Treviso area, Italy<br>
                        <strong>Age: </strong>@GetAge(new DateTime(1991, 4, 9))<br>
                        <a href="mailto:luca@lucadallavalle.com">Contact</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="ldv-section">
        <header>
            <h2 class="ldv-other-text-color text-center">Experience</h2>
            <hr class="ldv-horizontal-divider">
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <h3 class="title">Web Designing</h3>
                                <p class="description">
                                    <ul>
                                        <li>Implemented a microservice solution to save the ingestion data into the main short-term database</li>
                                        <li>Developed a new cost-effective solution to store long-term Big Data</li>
                                        <li>Designed and implemented a highly parallelized set of Web APIs to query ingestion data from multiple data sources</li>
                                        <li>Developed a highly performant Web API for the realtime processing of geographical data</li>
                                        <li>Had a key role in the process of migrating the technology stack of the main short-term ingestion database</li>
                                        <li>Refactored and partially rewritten an Angular SPA for internal customers used for monitoring the cloud infrastructure</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <h3 class="title">Web Development</h3>
                                <p class="description" >
                                    <li>MioCondominio: single-handedly rewrote this core business app by converting it from a legacy ASP MPA to a SPA based on Angular 7+ and ASP.NET Core</li>
                                    <li>Agyo Console: designed and developed a MPA to expose some functionalities of the centralized TeamSystem invoicing platform to the end-users</li>
                                    <li>Authentication server: built an IdP based on the highest security standards to provide a centralized authentication platform for the different applications</li>
                                    <li>Domustudio: built the prototype of the next web-based version of the application using React and ASP.NET Core</li>
                                    <li>Had a critical role in the refactoring of the codebase by separating it into a three layer structure and by rewriting the DAL using Dapper</li>
                                    <li>Numilia: integrated the application with the Braintree platform</li>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>