
<div class="ldv-section">
    <header>
        <h1 class="ldv-other-text-color text-center">Profile</h1>
        <p class="lead text-center">C# and web developer</p>
        <hr style="max-width: 36%">
    </header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h5 class="ldv-other-text-color">About</h5>
                I'm a full stack developer. I particularly love C# and the .NET ecosystem.
            </div>
            <div class="col text-center">
                <img src="~/img/ldv.png" height="150px">
            </div>
            <div class="col">
                <h5 class="ldv-other-text-color">Details</h5>
                <p>
                    <strong>Name: </strong>Luca Dalla Valle<br>
                    <strong>Location: </strong>Padua, Italy<br>
                    <strong>Age: </strong>@ViewHelpers.GetAge(new DateTime(1991, 4, 9))<br>
                    <a href="mailto:luca@lucadallavalle.com">Contact</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="ldv-section ldv-section-background2">
    <header>
        <h1 class="ldv-other-text-color text-center">Resume</h1>
        <hr style="max-width: 36%">
    </header>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h5 class="ldv-other-text-color">EN</h5>
                <a href="~/cv/cv_it.pdf" target="_blank">
                    <img class="mt-1 ldv-svg-pdf" src="~/img/file-pdf-solid.svg" alt="PDF image">
                </a>
            </div>
            <div class="col text-center">
                <h5 class="ldv-other-text-color">IT</h5>
                <a href="~/cv/cv_it.pdf" target="_blank">
                    <img class="mt-1 ldv-svg-pdf" src="~/img/file-pdf-solid.svg" alt="PDF image">
                </a>
            </div>
        </div>
    </div>
</div>
