<div class="jumbotron jumbotron-fluid text-center" id="ldv-jumbotron">
    <div class="container">
        <h1 class="display-4">Luca Dalla Valle</h1>
        <hr class="ldv-horizontal-divider">
        <p class="lead">Don't worry, this is just another developer personal site.</p>
    </div>
</div>

<div class="ldv-section">
    <header>
        <h1 class="ldv-other-text-color text-center">Profile</h1>
        <p class="lead text-center">C# and web developer</p>
        <hr class="ldv-horizontal-divider">
    </header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h5 class="ldv-other-text-color">About</h5>
                I'm a full stack developer. I particularly love C# and the .NET ecosystem.
            </div>
            <div class="col text-center">
                <img src="~/img/ldv.png" height="150px">
            </div>
            <div class="col">
                <h5 class="ldv-other-text-color">Details</h5>
                <p>
                    <strong>Name: </strong>Luca Dalla Valle<br>
                    <strong>Location: </strong>Padua, Italy<br>
                    <strong>Age: </strong>@ViewHelpers.GetAge(new DateTime(1991, 4, 9))<br>
                    <a href="mailto:luca@lucadallavalle.com">Contact</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="ldv-section">
    <header>
        <h1 class="ldv-other-text-color text-center">Projects</h1>
        <p class="lead text-center">Personal accomplishments</p>
        <hr class="ldv-horizontal-divider">
    </header>
    <div class="container text-center">
        <h3>WIP</h3>
    </div>
</div>
