.main-timeline {
    position: relative;
}

.main-timeline:before {
    content: '';
    width: 5px;
    height: 100%;
    border-left: 5px dashed #fff;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
}

.main-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.main-timeline .timeline {
    width: calc(50% + 25px);
    padding: 0;
    margin: 0 0 0 50px;
    float: right;
    position: relative;
}

.main-timeline .timeline-content {
    padding: 15px 60px 15px 75px;
    border-top: 3px solid #fff;
    display: block;
    position: relative;
}

.main-timeline .timeline-icon {
    font-size: 40px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 20px;
    right: 0;
}

.main-timeline .title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}

.main-timeline .description {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: justify;
    margin: 0;
}

.main-timeline .timeline:nth-child(even) {
    margin: 0 50px 0 0;
    float: left;
}

.main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 15px 70px 15px 60px;
}

.main-timeline .timeline:nth-child(even) .timeline-content:before {
    left: auto;
    right: 0;
}

.main-timeline .timeline:nth-child(even) .timeline-content:after {
    right: auto;
    left: 0;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
    right: auto;
    left: 0;
}

@media screen and (max-width: 767px) {
    .main-timeline:before {
        transform: translateX(0);
        left: 22px;
    }

    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even) {
        width: 100%;
    }

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content {
        padding: 15px 60px 15px 70px;
    }

    .main-timeline .timeline:nth-child(even) .timeline-content:before {
        right: auto;
        left: 0;
    }

    .main-timeline .timeline:nth-child(even) .timeline-content:after {
        right: 0;
        left: auto;
    }

    .main-timeline .timeline:nth-child(even) .timeline-icon {
        left: auto;
        right: 0;
    }
}

@media screen and (max-width: 567px) {
    .main-timeline .title {
        font-size: 18px;
    }
}